@import './theme.scss';
@import './mixin.scss';

#app_layout {
  height: 100%;
}

#app_header {
  height: 70px;
  background-color: $navbarTheme;
  color: $systemTheme;
  padding: 0 20px;
}

#app_logo {

  img {
    width: 32px;
    height: 32px;
  }

  #app_title {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 0 20px;
  }

  .el-icon {
    color: $systemTheme;
  }
}

#app_tags {
  background-color: $--color-white;

  .tag-view {
    margin: 0 3px;
  }

  .active-tag-view {
    background-color: $systemTheme;
    border-color: $systemTheme;
    color: #303133;

    i {
      color: #303133;

      & :hover {
        background-color: $--color-white;
        border-radius: 50%;
      }
    }
  }
}

#app_breadcrumb {
  height: 36px;
  background-color: $--color-white;
  margin: 5px 0;
  padding: 10px;

  .el-breadcrumb__inner {
    color: $systemTheme;
  }

  .el-breadcrumb__separator {
    color: $systemThemeHover;
  }
}

#app_login, #app_home {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-image: url(@/assets/backgroud.png);
  background-size: cover;
}

#app_main_wrapper {
  position: absolute;
  left: 250px;
  right: 0;
  top: 70px;
  bottom: 0;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  background: #f0f0f0;
}

#app_main {
  width: auto;
  padding: 10px;
  background: $--color-white;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-y: scroll;
}

.sidebar-collapse {
  left: 64px !important;
}

.chart-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.el-menu {
  background-color: $sidebarTheme;
  border-right: none;
  height: 100%;

  .el-menu-item {
    color: $sidebarColor;
    padding-right: 0;
    @include ellipsis;

    &.is-active {
      color: $--color-white;
      background-color: $systemTheme;
    }

    &:hover {
      background-color: $systemThemeHover;
    }
  }

  .el-sub-menu {
    .el-menu-item {
      min-width: 0;
    }

    &.is-active {
      & > .el-sub-menu__title {
        color: $sidebarColor;
      }
    }
  }

  .el-sub-menu__title {
    color: $sidebarColor;

    & > span {
      display: inline-block;
      max-width: calc(100% - 45px);
      @include ellipsis;
    }

    &:hover {
      background-color: $systemThemeHover;
    }
  }
}

.el-menu:not(.el-menu--collapse) {
  width: 250px;
}

.el-menu > ul {
  height: 100%;
}

